{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %} 
    <div class ="container">
        <h1>Login Page</h1>

        {% with messages = get_flashed_messages() %}

        {% if messages %}
        {% for message in messages: %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
          </div>

            
        {% endfor %}

        {% endif %}

        {% endwith %} 

        <form action = "" method = "post" novalidate> <!--this no validate disables the googles chromes validation-->
            {{form.csrf_token}}

            <p>
                {{ form.username.label}}<br>
                {{form.username(size =32)}}

                {% for error in form.username.errors: %}
                <span style = "color:red;"> {{ error}}</span>

                {% endfor %}
            </p>
            <p>
                {{ form.password.label}}<br>
                {{form.password(size =32)}}

                {% for error in form.password.errors: %}

                <span style = "color:red;"> {{ error}}</span>

                {% endfor %}
            </p>

            <p>
               
                <input type ="submit" value ="Submit" class="btn btn-success">
            </p>
        </form>
        
    <div class ="container">
{% endblock %}
